$primary-color: #4caf50; 
$secondary-color: #2196f3; 
$background-color: #f5f5f5; 
$text-color: #333; 


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.container {
  max-width: 400px;
  margin: 50px auto;
  margin-top: 100px;
 
  padding: 50px;
  padding-top: 20px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}


.backgr {
  background-image: url('/assets/pattern4.png'); 
  background-repeat: repeat; 
  background-size: auto; 
  min-height: 100vh;

  overflow: auto; 
}

h1 {
  color: $primary-color;
  margin-bottom: 20px;
}

.user-form {
  
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;

    label {
      display: block;
      margin-bottom: 5px;
      color: $text-color;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    

    &.btn {
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    &.toggle-btn {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
.address-form {
  margin-top: 20px;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $text-color;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}




.welcome-message {
  background-color: lighten($primary-color, 40%);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 70px;
  margin-top: 50px;
  transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }

  h2 {
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    color: $text-color;
  }
}

h1 {
  color: $primary-color;
  margin-bottom: 20px;
}

h2 {
  color: $primary-color;
  margin-bottom: 20px;
}

.user-form {
  .form-group {
    margin-bottom: 15px;
    text-align: left;

    label {
      display: block;
      margin-bottom: 5px;
      color: $text-color;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &.btn {
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    &.toggle-btn {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}

.update-location-form {
  margin-top: 20px;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $text-color;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.address-form {
  margin-top: 20px;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $text-color;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
.logout-btn {
  background-color: $primary-color; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:focus {
    outline: none;
  }
}