
.submit-order-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darkgreen;
    }
  
    &:disabled {
      background-color: lightgray;
      cursor: not-allowed;
    }
  }
  

  .orders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2rem;
  }
  
  .order {
    border: 2px solid green;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .order h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .order-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .order-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .order-item-name {
    font-size: 1.2rem;
    flex: 1 1 40%;
  }
  
  .order-item-quantity, .order-item-price, .order-item-type, .order-item-description {
    flex: 1 1 16%;
    color: gray;
  }
  
  .backgr {
    background-image: url('/assets/pattern4.png'); 
    background-repeat: repeat; 
    background-size: auto; 
  
    overflow: auto; 
    min-height: 100vh;
  }

  $primary-color:rgb(91, 185, 91); 
$secondary-color: #ffffff; 
$accent-color: green; 
$text-color: #333333; 

  .order-header {
    background-color: $primary-color; 
    color: $secondary-color; 
    padding: 40px; 
    text-align: center; 
    border-radius: 8px; 
    margin-bottom: 0px; 


  .order-header-title {
    font-size: 3rem; 
    margin-bottom: 20px;
    font-weight: bold; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    animation: fadeInDown 1.5s ease-out; 
  }

  .order-header-description {
    font-size: 1.6rem; 
    margin-bottom: 15px; 
    line-height: 1.6; 
    padding: 20px; 
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 8px; 
    backdrop-filter: blur(10px); 
    transition: background 0.5s ease-in-out; 

    &:hover {
      background: rgba(255, 255, 255, 0.3); 
    }
  }
 
  @keyframes fadeInDown {
    from {
      opacity: 0; 
      transform: translateY(-10px); 
    }
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
  }
  }

  .confirm-order-btn {
    
      background-color: $accent-color; 
      margin: 10px;
      margin-left: 5px;
      margin-top:25px;
      color: #ffffff;
     
      padding: 15px 30px;
  
      border: none;
      
      cursor: pointer;
  
  
      
      border-radius: 40px;
      font-size: 1.2rem;
      text-transform: uppercase;
  
      &:hover {
        background-color: darken($accent-color, 10%);
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }
  }
  
  
  .confirm-order-btn:hover {
    background-color: darkgreen; 
  }